.team {
  background-color: var(--another-background-color);
}

.team__list {
  padding: 0;
  margin: 0;
  display: flex;
  /* Фіксована (при видаленні img не втрачається ширина) сітка для елементів li, замість gap*/
  margin-left: calc(-1 * var(--image-gap));
  margin-top: calc(-1 * var(--image-gap));
}

.team__item {
  background-color: var(--white-color);
  flex-basis: calc(100% / 3 - var(--image-gap));
  margin-left: var(--image-gap);
  margin-top: var(--image-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-contant {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-contant__title {
  @include font(500, 16px, 1.18, 0.03em);
  text-align: center;
  color: var(--main-color-text);
  margin-bottom: 10px;
}

.team-contant__text {
  @include font(var(--main-font-weight), 16px, 1.18, 0.03em);
  text-align: center;
  color: var(--second-maim-color-text);
  margin-bottom: 16px;
}

.team .social {
  margin-left: auto;
  margin-right: auto;
}
