// /Стилі для головних заголовків в секції direction, team, clients
.sections-title {
  @include font(var(--second-font-weight), 36px, 1.16, 0.03em);
  text-align: center;
  color: var(--main-color-text);
  margin-bottom: 50px;
}
